@model List<FwB.Models.Order>

<h2>Order</h2>

@if (Model.Count > 0)
{

    decimal total = 0;
    decimal totalsale = 0;
    decimal totalFinalPrice = 0;
    int stt = 1;

    <table class="table table-bordered table-hover" id="tblData">
        <thead>
            <tr>
                <th>No</th>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Item Price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var cartitem in Model)
            {
                var thanhtien = cartitem.Quantity * cartitem.Items.Price;
                var thanhtienkm = ((thanhtien * cartitem.Items.DiscountPrice) / 100);
                var tienthanhtoan = thanhtien - thanhtienkm;
                total += (decimal)thanhtien;
                totalsale += (decimal)thanhtienkm;
                totalFinalPrice += (decimal)tienthanhtoan;
                <tr>
                    <td id="itemid-@Html.Raw(cartitem.Items.ItemId)">

                        @(@cartitem.Items.ItemId)
                    </td>
                    <td>@cartitem.Items.ItemName</td>
                    <td>@(cartitem.Items.Price) VND</td>
                    <td>
                        <input asp-for="@cartitem.Quantity Quantity" class="Quantity form-control"
                    id="@($"Quantity-{cartitem.Items.ItemId}")" />
                    </td>
                    <td>@(thanhtien.ToString()) VND</td>
                    <td>
                        <button class=" btn btn-success updatecartitem" data-itemid="@cartitem.Items.ItemId">
                            Cập nhật</button>
                    </td>
                    <td><a asp-route="removecart" asp-route-itemid="@cartitem.Items.ItemId" class="btn btn-danger">Xóa</a></td>
                </tr>
            }

        </tbody>

        <tr>
            <td class="text-right">Tạm Tính: </td>
            <td>@(total.ToString("n0")) VND</td>
            <td class="text-right">Khuyết Mãi: </td>
            <td>@(totalsale.ToString("n0")) VND</td>
            <td class="text-right">Tổng Tiền Thanh Toán: </td>
            <td>@(totalFinalPrice.ToString("n0")) VND</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: right">
                <select id="dcPrice" value="DiscountId" asp-items="ViewBag.Discount" class="form-control">
                    <option selected>Khuyến Mãi</option>
                </select>
            </td>
            <td style="text-align: right">
                <button type="submit" class="btn btn-primary updateOrderDiscount">Accept</button>
            </td>
        </tr>
    </table>

    <div style="display: flex; justify-content:space-between; width: 200px; height: 100px ">
        <div><a asp-controller="Item" asp-action="CreateOrder" class="btn btn-success CreateOrder">Order</a></div>
        <div><a asp-controller="Item" asp-action="Index" class="btn btn-info">Back To Item</a></div>
    </div>




    @section Scripts {
<script>
    $(document).ready(function () {
        $(".updatecartitem").click(function (event) {
            event.preventDefault();
            var itemid = $(this).attr("data-itemid");
            var quantity = $("#Quantity-" + itemid).val();
            var discountId = document.getElementById("dcPrice").value;
            console.log(discountId);
            debugger;
            $.ajax({
                type: "POST",
                url: "@Url.RouteUrl("updatecart")",
                data: {
                    discountId: discountId,
                    itemid: itemid,
                    quantity: quantity
                },
                success: function (result) {
                    @* window.location.href = "@Url.RouteUrl("cart")"; *@
                        location.reload();
                }
            });
        }

        );

    });


    $(document).ready(function () {

        $(".updateOrderDiscount").click(function (event) {
            event.preventDefault();
            var discountId = document.getElementById("dcPrice").value;
            console.log(discountId);
            $(".Quantity").each(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.RouteUrl("updateorderall")",
                    data: {
                        discountId: discountId,
                    },
                    success: function (result) {

                        window.location.href = "@Url.RouteUrl("cart")";
                    }
                });
            })

        });
    });



</script>
}


}

else
{
    <p class="alert alert-danger">Giỏ hàng trống</p>
    <div><a asp-controller="Item" asp-action="Index" class="btn btn-info">Back To Item</a></div>
}